.row
  .col-md-8.col-md-offset-2
    %h3 Anuncios varios

/ El carousel con las imagenes
.row
  .col-md-8.col-md-offset-2
    %div{:id => 'carousel-anuncios', :class => 'carousel slide', 'data-ride' => 'carousel'}
    / Indicadores
    %ol.carousel-indicators
      %li{'data-target' => '#ejemplo-carousel-generico', 'data-slide-to' => '0', :class => 'active'}
      %li{'data-target' => '#ejemplo-carousel-generico', 'data-slide-to' => '1'}

    / Wrappers para los slides
    %div{:class => 'carousel-inner', :role => 'listbox'}
      .item.active
        %img{:src => 'https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/12644744_10207637957761072_1135077213064854338_n.jpg?oh=4293f4fea899bb1bde2438b306b5faaa&oe=576AC3D6'}
        .carousel-caption
          %h3 Glacier Point
          %p Esta foto es del parque nacional Yosemite en California

      .item
        %img{:src => 'https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10891734_10205302028444299_778399481311039019_n.jpg?oh=bd02cc15fcdefe6647c5bc5101bd50d4&oe=572784D0'}
        .carousel-caption
          %h3 Angel Fire
          %p Esta foto es en Angel Fire en Nuevo México

    / Controles

    / Izquierdo
    %a{:class => 'left carousel-control', :href => 'ejemplo-carousel-generico', :role => 'button', 'data-slide' => 'prev'}
      %span{:class => 'glyphicon glyphicon-chevron-left', 'aria-hiden' => 'true'}
      %span.sr-only Anterior

    / Derecho
    %a{:class => 'right carousel-control', :href => 'ejemplo-carousel-generico', :role => 'button', 'data-slide' => 'prev'}
      %span{:class => 'glyphicon glyphicon-chevron-right', 'aria-hiden' => 'true'}
      %span.sr-only Siguiente

.row
  .col-md-8.col-md-offset-2
    %h2 Aca luego se pone informacion propia de la escuela