<div class="parallax">
  <ul id="scene_not_pass">
    <li class="layer" data-depth="0.00"><%= image_tag 'fondo.png', class: 'img-responsive' %></li>
    <li class="layer" data-depth="0.5"><%= image_tag 'gandalf.png', class: 'img-responsive' %></li>
    <li class="layer" data-depth="0.8"><%= image_tag 'texto.png', class: 'img-responsive' %></li>
  </ul>
</div>
