<div class="container">
  <div class="container-grande">
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag 'gandalf.png', class: 'img-responsive center-block', style: 'max-height:350px' %>
      </div>
    </div>
  </div>
  <div class="row">
    <br/>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="alert alert-warning" role="alert">
        <strong>¡Cuidado!</strong> Gandalf está cuidando de que no accedas a sitios que no teines permisos. <%= link_to 'Vuelve al inicio', root_path , class:'alert-link' %> para que no lo hagas enojar.
      </div>
    </div>
  </div>
</div>