<%# Partial que inserta el esqueleto de un modal.
    La intención es para que el modal se llene
    por medio de Javascript o Ajax a través de
    una vista de Rails
-%>
<div id="ajax-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div id="modal-alerts"></div>
        <div id="modal-text"></div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
