<form class="form-inline">
  <%= form_tag users_path, method: :get, id: 'users_search' do %>
      <div class="form-group"><%= text_field_tag :search, params[:search], placeholder: 'Carné', class: 'form-control' %></div>
      <div class="form-group"><%= submit_tag 'Buscar', class: 'btn btn-sm btn-primary' %></div>
  <% end %>
</form>

