<%= render layout: 'shared/modal', locals: {id: 'teacher-form-modal', title: title} do %>

    <div class="form-horizontal">
      <%= form_for @teacher, remote: true do |f| %>
          <div class="form-group">
            <div class="col-xs-12">
              <%= f.text_field :name, placeholder: 'Nombre del profesor', class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <hr/>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <%= f.submit class: 'btn btn-primary btn-block' %>
            </div>
          </div>
      <% end %>
    </div>

<% end %>
