// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Cosas propias de los anuncios
$primary: #f96816;
$primary-light: #FF8946;
$primary-dark: #C94A02;

@import "bootstrap-sprockets";
@import "bootstrap";

@media screen and (max-width: $screen-xs-max) {
  a.back-to-top {
    width: 40px !important;
    height: 40px !important;
    background: $primary image-url("up-arrow-sm.png") no-repeat center 43% !important;
    box-shadow: 0px 1px 2px #2b2b2b !important;
    right: 20px !important;
  }
  a:hover.back-to-top {
    background: $primary-light image-url("up-arrow-sm.png") no-repeat center 43% !important;
  }
}

.img-ad {
  max-width: 370px;
  height: auto;
  margin: 10px;
}
