/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require selectize
 *= require selectize.bootstrap3
 *= require_self
 *= require_tree .
 */
// Para iconos bonitos
@import "font-awesome-sprockets";
@import "font-awesome";
// Preview de imagenes
@import "lightbox";
@import 'base/epiceditor';

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

// Boton de Back to Top
$primary: #f96816;
$primary-light: #FF8946;
$primary-dark: #C94A02;

@import "bootstrap-sprockets";
@import "bootstrap";

@media screen and (max-width: $screen-xs-max) {
  a.back-to-top {
    width: 40px !important;
    height: 40px !important;
    background: $primary url("up-arrow-sm.png") no-repeat center 43% !important;
    box-shadow: 0px 1px 2px #2b2b2b !important;
    right: 20px !important;
  }
  a:hover.back-to-top {
    background: $primary-light url("up-arrow-sm.png") no-repeat center 43% !important;
  }

}

a.back-to-top {
  display: none;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  box-shadow: 0px 1px 4px #2b2b2b;
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 20px;
  background: $primary image-url("up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

a:hover.back-to-top {
  background: $primary-light image-url("up-arrow.png") no-repeat center 43%;
}
