// == Variables de los colores ==
$orange-light: #FF9800;
$orange-lighter: #ffaa2d;
$orange-dark: #f2762e;
$white: #ffffff;
$link-color: $orange-light;
$grey-dark: #2b2b2b;
$grey-light: #9d9d9d;
$body-color: #f3f3f3;
$shadow-color: #888888;


// Typografia
$text-color: #666;
$link-color: $grey-light;
$link-hover-color: $orange-light;
$font-family-sans-serif: 'Roboto', 'FontAwesome', Arial, Helvetica, sans-serif;
$font-family-serif: 'Roboto', 'FontAwesome', Arial, Helvetica, sans-serif;

// Estilos del navbar
$navbar-default-bg: $grey-dark;
$navbar-default-brand-color: $white;
$navbar-default-link-hover-color: $orange-light;
$navbar-default-link-hover-color: $orange-light;
$navbar-default-link-active-color: $orange-light;
$navbar-default-toggle-border-color: transparent;
$navbar-default-toggle-hover-bg: transparent;

// Botones
$btn-primary-bg: $orange-light;
$btn-primary-border: $orange-light;
$btn-primary-color: $white;
$btn-border-radius-base: 2px;

// Forms
$input-border-focus: $orange-light;
$input-border-radius: 0px;

// Panels
$panel-border-radius: 2px;
$panel-default-border: transparent;

// Pagination
$pagination-active-bg: $orange-light;
$pagination-active-border: $orange-light;

// Otros
$body-bg: $body-color;

@import "bootstrap-sprockets";
@import "bootstrap";
// == Fin Variables de los colores ==

// == Botones de Inicio de sesión y registro ==
.btn-login {
  background-color: transparent;
  padding: 8px 13px;
  margin-left: 3px;
  margin-right: 3px;
  color: $orange-light;
  border-color: $orange-light;
  transition: all ease 0.2s;

  &:hover {
    color: $white;
    background-color: $orange-dark;
  }
}

.btn-registro {
  background-color: $orange-light;
  padding: 8px 13px;
  color: $white;
  border-color: $orange-light;
  transition: all ease 0.2s;

  &:hover {
    color: $white;
    background-color: $orange-dark;
  }
}

// == Fin Botones de Inicio de sesión y registro ==

// == Varios estilos ==

// Espacio para el navbar
body {
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6{
  color: $grey-dark;
}

.fix-carousel {
  margin-top: -10px;
}

.img-show {
  width: 80%;
  height: 80%;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-control:focus {
  box-shadow: 0px 0px 0px transparent;
  border: 2px solid $orange-light;
}

.panel {
  box-shadow: 2px 2px 6px $shadow-color;
}

.body-footer {
  background-color: $grey-dark;
  padding: 40px;
}

.text-footer {
  color: #9d9d9d;
}

.highligh-footer {
  color: $orange-dark;
}
.body-section{
  background-color: $white;
}
.title-footer {
  color: #E0E0E0;
}

.center-cell {
  text-align: center;
}

.btn-primary {
  &:hover {
    background-color: $orange-lighter;
    border-color: $orange-lighter;
  }
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Esto es para que la imagen abarque el ancho completo del carousel
.carousel img {
  min-width: 100%;
  max-height: 600px;
}

// Agrega una linea gris a la izquierda
.section {
  border-left: 1px solid #e6e6e6;
}

.error-description-message {
  list-style-type: none;
}

// == Fin Varios estilos ==
