// == Variables de los colores (la paleta del sistema) ==
$primary: #FF9800;
$primary-light: #ffad33;
$primary-dark: #e68900;
$link-color: $primary;
$grey-dark: #2b2b2b;
$grey-light: #9d9d9d;
$grey-text: #666;
$grey-link-nav-footer: #E0E0E0;
$body-color: #f3f3f3;
$shadow-color: #888888;
// == Fin Variables de los colores ==

// Typografia
$text-color: $grey-text;
$link-color: $grey-text;
$link-hover-color: $primary;
$link-hover-decoration: none;
$font-family-sans-serif: 'Roboto', 'FontAwesome', Arial, Helvetica, sans-serif;
$font-family-serif: 'Roboto', 'FontAwesome', Arial, Helvetica, sans-serif;

// Estilos del navbar
$navbar-default-bg: $grey-dark;
$navbar-default-border: transparent;
$navbar-default-brand-color: white;
$navbar-default-link-color: $grey-link-nav-footer;
$navbar-default-link-hover-color: $primary;
$navbar-default-link-active-color: $primary;
$navbar-default-toggle-border-color: transparent;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: $grey-link-nav-footer;
$navbar-default-link-active-bg: transparent;

// Botones
$btn-primary-bg: $primary;
$btn-primary-border: $primary;
$btn-primary-color: white;
$btn-border-radius-base: 3px;
$btn-default-bg: $grey-dark;
$btn-default-border: $grey-dark;
$btn-default-color: white;

// Dropdowns
$dropdown-bg: $grey-dark;
$dropdown-link-color: $grey-link-nav-footer;
$dropdown-link-hover-bg: transparent;
$dropdown-link-hover-color: $primary-light;

// Forms
$input-border-focus: $primary;
$input-border-radius: 2px;
$input-bg-disabled: white;

// Panels
$panel-border-radius: 2px;
$panel-default-border: transparent;
$panel-primary-border: white;
$panel-primary-heading-bg: white;

// Pagination
$pagination-active-bg: $primary;
$pagination-active-border: $primary;

// Otros
$body-bg: $body-color;

@import "bootstrap-sprockets";
@import "bootstrap";

// == Botones de Inicio de sesión y registro ==
.btn-login {
  background-color: transparent;
  padding: 8px 13px;
  margin-left: 3px;
  margin-right: 3px;
  color: $primary;
  border-color: $primary;
  transition: all ease 0.2s;

  &:hover {
    color: white;
    background-color: $primary-dark;
  }
}

.btn-registro {
  background-color: $primary;
  padding: 8px 13px;
  color: white;
  border-color: $primary;
  transition: all ease 0.2s;

  &:hover {
    color: white;
    background-color: $primary-dark;
  }
}

// == Fin Botones de Inicio de sesión y registro ==

// == Varios estilos ==

// Cuando la pantalla llega al tamano "sm" (992px o -) entonces cambian algunos estilos
@media screen and (max-width: $screen-sm-max) {
  .info-asocia {
    text-align: center;
  }
}

// Espacio para el navbar
body {
  padding-top: 60px;
}

textarea {
  resize: none;
}

// Estilo de los encabezados
h1, h2, h3, h4, h5, h6 {
  color: $grey-dark;
}

// Estilo de los párrafos
p {
  font-weight: 300; // "Roboto Light"
}

// Para que el carousel se pegue al navbar
.fix-carousel {
  margin-top: -10px;
}

.btn-primary:hover {
  background-color: $primary-light;
  border-color: $primary-light;
}

.btn-default:hover {
  background-color: #444444;
  border-color: #444444;
}

// Campos con errores en los forms
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// Cuando enfoca un form
.form-control:focus {
  box-shadow: 1px 1px 1px transparent;
  border: 2px solid $primary;
}

// El cuerpo del pie de pagina
.body-footer {
  background-color: $grey-dark;
  padding: 40px;
}

// Estilo del texto en el pie de pagina
.text-footer {
  color: $grey-light;
}

// Cosas resaltadas en el pie de pagina
.highligh-footer {
  color: $primary;
}

// Estilo de los titulos de las listas del pie de pagina
.title-footer {
  color: $grey-link-nav-footer;
}

// Cuerpo de la seccion de la asociacion en el home
.body-section {
  background-color: white;
}

// Cuerpo de la seccion de "contactenos"
.body-contact {
  background-color: $primary-light;
}

// Para centrar la información de las tablas
.center-cell {
  text-align: center;
}

// Estilo para centrar imágenes
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Esto es para que la imagen abarque el ancho completo del carousel
.carousel img {
  min-width: 100%;
  max-height: 600px;
}

.logo {
  max-height: 40px;
  min-width: 90%;
  margin-top: -10px;
}

// Para marcar labels con el asterizco
label.required:after {
  color: $alert-danger-text;
  content: " *"
}

// Estilo para la descripccion de mensajes de error
.error-description-message {
  list-style-type: none;
}

// Callouts

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background-color: white;
}

.bs-callout h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout + .bs-callout {
  margin-top: -5px;
}

@mixin bs-mixin($name, $callout-color) {

  // Callout border color
  .#{$name} {
    border-left-color: $callout-color;
  }
  // Callout header color
  .#{$name} h5 {
    color: $callout-color;
  }
}

@include bs-mixin(bs-callout-primary, $primary);
@include bs-mixin(bs-callout-info, $brand-info);
@include bs-mixin(bs-callout-danger, $brand-danger);
@include bs-mixin(bs-callout-warning, $brand-warning);
@include bs-mixin(bs-callout-success, $brand-success);

// == Fin Varios estilos ==
