// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Cuando la pantalla llega al tamano "sm" (992px o -) entonces cambian algunos estilos
@media screen and (max-width: 992px) {
  .info-asocia {
    text-align: center;
  }

}

// Cuerpo de la seccion de la asociacion en el home
.body-section {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
}

// Cuerpo de la seccion de "contactenos"
.body-contact {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  margin: 0px;
}

.body-contact-alone {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  margin-top: -10px 0px px;
}

// Para que el carousel se pegue al navbar
.body-carousel{
  margin: -10px 0px 0px;
}

// Esto es para que la imagen abarque el ancho completo del carousel
.carousel img {
  min-width: 100%;
  max-height: 600px;
}

.image-contact {
  min-width: 90px;
  max-height: 90px;
}

// Seccion de los miembros de la asocia
.body-about-us {
  background-color: #2b2b2b;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
}

.name {
  color: white;
}