<%= render 'mail_header' %>

<p>Alguien ha realizado una peticion para cambiar su contrasena.</p>
<P>Este procedimiento se puede realizar ingresando en el siguiente vinculo</p>

<p><b><%= link_to 'Cambiar mi contrasena', edit_password_url(@resource, reset_password_token: @token) %></b></p>

