<p>Hola <%= @resource.email %></p>

<p>lguien ha realizado un petición para cambiar su contrseña. Este procedimiento se puede
  realizar digitando el siguiente vínculo</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

