<br/>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to 'Regresar', tests_path, class: 'text-footer' %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-uppercase text-center page-title">Agregar un examen</h1>
  </div>
</div>
<%= render 'form' %>


