%nav.navbar.navbar-fixed-top.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-expanded' => 'false', 'data-target' => '#opciones-navbar', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to 'AECCI', root_path, {class: 'navbar-brand'}

    #opciones-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to '¿Quiénes somos?', about_us_path