<div class="body-section">
  <div class="body-section-layer">
    <div class="container-fluid">
      <br/>
      <br/>
      <div class="row">
        <div class="col-xs-12 col-md-3 col-md-offset-2">
          <h1 class="info-asocia">Asociación de Estudiantes de la ECCI</h1>
          <h1 class="info-asocia">
            <small>Universidad de Costa Rica</small>
          </h1>
        </div>
        <div class="col-xs-12 col-md-5">
          <p class="info-asocia">laksldkandlkasd laksdlaksjdla dlaksmdlaksmdla dlaksmdlaksd laskdmlaksdmla
            dlkdaslkdmalsd alksdmlaksd
            alskdmlaksd laksmdlaksd alksmdlaksd laksmdlasd laksmd.
          </p>
          <br/>
          <p class="info-asocia">
            asodkanmkd aksndmlaskdmla dlaksmdlaksd laksdmoaks dlam sdlkamsdlakmsdl alsdkmalksdmla sdlksamldamls
            alskdmalskd asodjqouiduioqew dowiedwu iwuedhjiw idwuhe iqw qi dqiu diq diasdia. oajsoa oaijoiqwodq oqiwjdq
            oqiwjdoq doqiwjdoq doqiwjdoq doqiwjdoq doqiwjdoq doqiwndoqd.
          </p>
          <br/>
          <p class="info-asocia">
            asodkanmkd aksndmlaskdmla dlaksmdlaksd laksdmoaks dlam sdlkamsdlakmsdl alsdkmalksdmla sdlksamldamls
            alskdmalskd asodjqouiduioqew dowiedwu iwuedhjiw idwuhe iqw qi dqiu diq diasdia. aoidoaisd qoiwdoqw doqiwdoq
            qoiwdjqo doqiwjdoq wdounicus aoisjdoasdi asodijaosd.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-2 col-md-offset-4">
          <%= link_to 'Hablemos', contact_us_path , class: 'btn btn-primary btn-block' %>
        </div>
        <div class="col-xs-6 col-md-2">
          <%= link_to 'Conócenos', about_us_url, class: 'btn btn-default btn-block' %>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>