<div class="body-section">
  <div class="body-section-layer">
    <div class="container-fluid">
      <br/>
      <br/>
      <div class="row">
        <div class="col-xs-12 col-md-3 col-md-offset-2">
          <h1 class="info-asocia">Asociación de Estudiantes de la ECCI</h1>
          <h1 class="info-asocia">
            <small>Universidad de Costa Rica</small>
          </h1>
        </div>
        <div class="col-xs-12 col-md-5">
          <p class="info-asocia">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer posuere erat a ante. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Integer posuere erat a ante.
          </p>
          <br/>
          <p class="info-asocia">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer posuere erat a ante. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Integer posuere erat a ante.
          </p>
          <br/>
          <p class="info-asocia">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer posuere erat a ante. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Integer posuere erat a ante.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-2 col-md-offset-4">
          <%= link_to 'Hablemos', '#contact_us' , class: 'btn btn-primary btn-block' %>
        </div>
        <div class="col-xs-6 col-md-2">
          <%= link_to 'Conócenos', about_us_url, class: 'btn btn-default btn-block' %>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>